<div class="main-container">
  <div class="row m-1 justify-content-center">
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
        <div class="project-title">Coding Snippets and Projects</div>
    </div>
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
      <div class="project-title">Coding Snippets and Projects</div>
    </div>
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
      <div class="project-title">Coding Snippets and Projects</div>
    </div>
  </div>
  <div class="row m-1 justify-content-center">
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
      <div class="project-title">Coding Snippets and Projects</div>
    </div>
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
      <div class="project-title">Coding Snippets and Projects</div>
    </div>
    <div class="col-md-3 p-0 m-4">
      <img class="img-fluid fit-image" src="../../../assets/images/tempCoding.jpg">
      <div class="project-title">Coding Snippets and Projects</div>
    </div>
  </div>
</div>
