<div class="row m-0 mt-5">
  <div class="m-0 col-10 col-lg-6 mb-4 ml-2">
    <h1 class="para-header">Lorem Ipsum Dolor Sit Amet</h1>
    <p class="para-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
</div>
<div class="row m-0 justify-content-end">
  <div class="col-10 col-lg-6 mb-4 mr-2">
    <h1 class="para-header">Lorem Ipsum Dolor Sit Amet</h1>
    <p class="para-content">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
  </div>
</div>
<div class="row m-0">
  <div class="row m-0 col-10 col-lg-6 mb-4 ml-2">
    <h1 class="para-header">Lorem Ipsum Dolor Sit Amet</h1>
    <p class="para-content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
</div>

<h1 class="section-header mt-5">——— Experience ———</h1>

<div class="row m-0 mt-1 justify-content-center">
  <div class="col-3 experience-location">Bavarian International School gAG</div>
  <div class="col-4 experience-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam</div>
</div>
<div class="row m-0 mt-1 justify-content-center">
  <div class="col-3 experience-location">University of Manchester</div>
  <div class="col-4 experience-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam</div>
</div>
<div class="row m-0 mt-1 justify-content-center">
  <div class="col-3 experience-location">Morgan Stanley</div>
  <div class="col-4 experience-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam</div>
</div>

<div class="spacer row mt-5"></div>

