

.sectionHeader {
    font-size: 2em;
    color: #b6b1b1;
    text-align: center;
    margin-bottom: 2rem !important;
}

.paraHeader {
    font-weight: bolder;
    font-size: 2em;
    color: #b6b1b1;
}

.paraContent {
    font-size: 1.3em;
    color: #b6b1b1;
}

.locationExplanationRow {
    margin-bottom: 2rem;
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
}

.location, .explanation, .tech {
    color: #b6b1b1;
    font-size: 1.3em;
}

.tech {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1.1em;
}

.location {
    font-weight: bold;
}

.dates {
    font-size: 0.8em;
    color: #948f8f;
}

.sectionBreak {
    border: 0;
    height: 0;
    margin: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid var(--gray);
}
