

.sectionHeader {
    font-size: 2em;
    color: #b6b1b1;
    text-align: center;
}

.paraHeader {
    font-weight: bolder;
    font-size: 2em;
    color: #b6b1b1;
}

.paraContent {
    /*font-weight: bold;*/
    font-size: 1.3em;
    color: #b6b1b1;
    /*text-align: center;*/
}

.locationExplanationRow {
    margin-bottom: 0.5em;
}

.location, .explanation {
    color: #b6b1b1;
    font-size: 1.3em;
}

.location {
    font-weight: bold;
}

.dates {
    font-size: 0.8em;
    color: #948f8f;
}
