.headPic {
    height: 100vh;
    background-position: 50% 45%;
    background-size: cover;
    background-attachment: fixed;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 1.5em;
    letter-spacing: 10px;
    text-align: center;
    opacity: 0.5;
}

.caption {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.fullName {
    font-family: 'Poiret One', "Bookman Old Style", SansSerif, serif;
    padding-left: 1vw;
    padding-top: 1vw;
    font-size: 2em;
    color: #b6b1b1;
}

.lastName {
    font-weight: bold;
}

#scroll {
    text-transform: uppercase;
}

