@import "~bootstrap/scss/bootstrap";

.carouselContainer img {
    object-fit: contain!important;
}

@include media-breakpoint-up(xs) {
    .carouselContainer div {
        height: 30vh;
    }
}

@include media-breakpoint-up(sm) {
    .carouselContainer div {
        height: 40vh;
    }
}

@include media-breakpoint-up(md) {
    .carouselContainer div {
        height: 50vh;
    }
}

@include media-breakpoint-up(lg) {
    .carouselContainer div {
        height: 80vh;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
}

.modal img {
    object-fit: contain !important;
}

.modal > div {
    display: flex;
    margin: 1.75rem;
    max-width: calc(100% - 56px);
    max-height: calc(100vh - 56px);
    flex: 0 1 auto;
}

.modal div {
    border: none;
    background-color: transparent;
}

:global(.modal-body) > div {
    max-width: calc(100vw - 56px) !important;
    max-height: calc(100vh - 56px) !important;
}

.downArrow {
    max-width: 100% !important;
    min-height: 5%;
    color: #8C8C8C;
}

.downArrow:hover {
    color: #ffffff;
}
