.experience-location {
  font-family: 'Poiret One', "Bookman Old Style", SansSerif;
  color: #b6b1b1;
  font-size: 1.3em;
  font-weight: bold;
}

.experience-explanation {
  font-family: 'Poiret One', "Bookman Old Style", SansSerif;
  color: #b6b1b1;
  font-size: 1.3em;
}

.section-header {
  font-family: 'Poiret One', "Bookman Old Style", SansSerif;
  font-size: 2em;
  color: #b6b1b1;
  text-align: center;
}

.para-header {
  font-family: 'Poiret One', "Bookman Old Style", SansSerif;
  font-weight: bolder;
  font-size: 2em;
  color: #b6b1b1;
}

.para-content {
  font-family: 'Poiret One', "Bookman Old Style", SansSerif;
  font-weight: bold;
  font-size: 1.3em;
  color: #b6b1b1;
  text-align: center;
}
