@import "~bootstrap/scss/bootstrap";

.contentContainer {
    display: flex;
    flex: 1;
    align-items: center;
}

.projectImage {
    display: flex;
    align-items: center;
    img {
        padding: 1%;
        border: 0.3em var(--grey) solid;
    }
}

.projectImageLink {
    display: flex;
    flex-grow: 1;
}

.projectTextContainer {
    display: flex;
    flex-direction: column;
}

.projectTextContainer > div {
    margin: 1vh 0;
}

@include media-breakpoint-down(md) {
    .projectTextContainer {
        font-size: 1.5em;
    }
}

@include media-breakpoint-up(lg) {
    .projectTextContainer {
        font-size: 1.1em;
    }
}

@include media-breakpoint-up(lg) {
    .projectTextContainer {
        max-height: 60vh;
        overflow-y: scroll;
    }
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
    flex: 1;
}

.codeLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--light)
}

.codeLink:hover {
    color: var(--purplePink)
}

.description {
    flex: 1;
    white-space: pre-wrap;
}

.sectionBreak {
    border: 0;
    height: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--gray);
}

.backButtonColumn {
    display: flex;
    flex-direction: column;
}

.backButton {
    align-self: flex-end;
    text-decoration: none;
    color: var(--light);
    margin: 1rem;
    font-size: 3em;
}

.backButton:hover {
    color: var(--light);
}
