<!--Temp home page-->

<div class=" headPic">
  <div class="full-name">
    <span class="first-name">Alfred</span>
    <span class="last-name">Mountfield</span>
  </div>
  <div class="caption">
    <span class="border" id="scroll">Scroll Down</span>
  </div>
</div>

<div class="container-fluid ">
  <div class="row pageLinks">
    <div class="col-md-4 p-0">
      <a [routerLink]="['/projects']" style="background-color: #595959">
        <img class="img-fluid fitImage" src="../../../assets/images/tempCoding.jpg">
        <div class="overlayContainer">
          <div class="textOverlay">
            <div class="overlayText">Coding Snippets and Projects</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 p-0">
      <a [routerLink]="['/about']" style="background-color: #262626">
        <img class="img-fluid fitImage" src="../../../assets/images/tempPerson.jpg">
        <div class="overlayContainer">
          <div class="textOverlay">
            <div class="overlayText">Who I am</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 p-0">
      <a [routerLink]="['/photos']" style="background-color: #8C8C8C">
        <img class="img-fluid fitImage"  src="../../../assets/images/tempCamera.png">
        <div class="overlayContainer">
          <div class="textOverlay">
            <div class="overlayText">Photography</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
