.footer-container {
  min-height: 12%;
  background-color: #252526;
  bottom: 0;
}

p {
  color: #8C8C8C;
}

.list-inline {
  display: flex;
  justify-content: center;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoEmail:hover {
  background-color: #F56505;
}

.social-network a.icoGithub:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoEmail:hover fa-icon,
.social-network a.icoGithub:hover fa-icon,
.social-network a.icoLinkedin:hover fa-icon {
  color: var(--darkerGrey);
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #8C8C8C;
  background-color: #2B2B2B;
}

.social-circle li fa-icon {
  margin: 0;
  line-height: 40px;
  text-align: center;
}


