<div class="container-fluid footer-container p-3" >
  <footer>
    <div class="row social justify-content-md-center p-2">
      <div class="col col-lg-2 justify-content-md-center">
        <ul class="social-network social-circle list-inline my-auto">
          <li><a href="https://www.linkedin.com/in/alfred-mountfield/" class="icoLinkedin" title="LinkedIn" target="_blank" rel="noopener"><fa-icon [icon]="linkedin" size="lg" ></fa-icon></a></li>
          <li><a href="mailto:alfredmountfield@gmail.com" class="icoEmail" title="E-Mail" target="_blank" rel="noopener"><fa-icon [icon]="envelope" size="lg"></fa-icon></a></li>
          <li><a href="https://github.com/Alfred-Mountfield" class="icoGithub" title="GitHub" target="_blank" rel="noopener"><fa-icon [icon]="github" size="lg"></fa-icon></a></li>
          <li><a href="https://www.instagram.com/alfred_mountfield/" class="icoInstagram" title="Instagram" target="_blank" rel="noopener"><fa-icon [icon]="instagram" size="lg"></fa-icon></a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-md-center p-2">
      <div class="col col-lg-4 copyright">
        <p class="text-center my-auto">Copyright © 2020. Alfred Mountfield. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>

