<div class="container-fluid footer-container">
  <footer class="p-3">
    <div class="row social justify-content-md-center p-2">
      <div class="col col-lg-2 justify-content-md-center">
        <ul class="social-network social-circle list-inline my-auto">
          <li><a href="#" class="icoLinkedin" title="LinkedIn"><fa-icon [icon]="linkedin" size="lg"></fa-icon></a></li>
          <li><a href="#" class="icoEmail" title="E-Mail"><fa-icon [icon]="envelope" size="lg"></fa-icon></a></li>
          <li><a href="#" class="icoGithub" title="GitHub"><fa-icon [icon]="github" size="lg"></fa-icon></a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-md-center p-2">
      <div class="col col-lg-4 copyright">
        <p class="text-center my-auto">Copyright © 2019. Alfred Mountfield. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>

